.navigation
  .cell
    %a.logo{href: '/'}
      .logo-icon
        = image_tag "/assets/images/logo-icon.svg"
      .logo-type
        = image_tag "/assets/images/logo-type.svg"
    %nav
      = link_to 'Features', '/#features'
      = link_to 'Roadmap', '/documentation/jellyfish-basics/getting-started'
      = link_to 'Documentation', '/documentation/jellyfish-basics/getting-started'
      = link_to 'How&nbsp;to&nbsp;Engage', '/#how-to-engage'
