.navigation
  .cell
    %a.logo{href: '/'}
      .logo-icon
        = image_tag "/assets/images/logo-icon.svg"
      .logo-type
        = image_tag "/assets/images/logo-type.svg"
    %nav
      = link_to 'Features', '/documentation/about-project/features'
      = link_to 'Roadmap', '/documentation/about-project/roadmap'
      = link_to 'Documentation', '/documentation/getting-started/overview-and-requirements'
      = link_to 'How&nbsp;to&nbsp;Engage', '/#how-to-engage'
