.has-bubbles
  .bubbles

.jellyfish

  = partial "shared/navigation"

  .cell.row.tac

    .jellyfish-header.jellyfish--tagline
      %h1 Open Cloud
      = image_tag("jellyfish-header.png")
      %h1 Connectivity

    .g
      .g-b.g-b--m--1of3.mtl
        .cell.cell--s
          %h4 What Is It?
          %p
            Project Jellyfish is a community-driven, open source
            cloud services broker solution that unifies disparate
            cloud resources.
          %a.btn.btn--blue{href: '#'} How to Contribute
      .g-b.g-b--m--1of3.fr.mtl
        .cell.cell--s
          %h4 Download
          %p.tss
            Project Jellyfish is available as a free download through
            any of these open source distributions:
          = link_to '#', class: 'btn btn--logo' do
            = image_tag("logo-github.svg")
          = link_to '#', class: 'btn btn--logo' do
            = image_tag("logo-chef.svg")
          = link_to '#', class: 'btn btn--logo' do
            = image_tag("logo-manage.svg")
          %p.tsxs
            Current version: 2.4.1b
            %span.mls.mrs.tcs|
            = link_to 'Read the documentation', '#'

    .jellyfish-header.jellyfish--feature#features
      = image_tag("jellyfish-features.jpg")
      %h2 Features
    .g
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-lock.svg")
          %h5 Open Source
          %p.mbs.tss
            Community-driven software allows enterprises to
            rapidly adopt and respond to evolving technologies by
            leveraging the community, which represents various
            public and commercial sector organizations, academia,
            and vendors.
          %p.twb Avoid Vendor Lock-In
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-community.svg")
          %h5 Community-Driven
          %p.mbs.tss
            Community-driven software allows enterprises to
            rapidly adopt and respond to evolving technologies
            by leveraging the community, which represents various
            public and commercial sector organizations, academia,
            and vendors.
          %p.twb Leverage Community's Expertise
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-modules.svg")
          %h5 Modular
          %p.mbs.tss
            Community-driven software allows enterprises to
            rapidly adopt and respond to evolving technologies
            by leveraging the community, which represents various
            public and commercial sector organizations, academia,
            and vendors.
          %p.twb Change Functionalities Without&nbsp;Rearchitecting
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-manage.svg")
          %h5 Flexible
          %p.mbs.tss
            One of the greatest costs to an IT organization is
            people AND inconsistent or timely processes. Broker
            platforms can be configured to provide automation
            throughout the entire lifecycle of a cloud service.
          %p.twb Customizable Automation

    .jellyfish-header.jellyfish--anatomy
      = image_tag("jellyfish-anatomy.jpg")
      %h3 Anatomy of a Jellyfish
    .g
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-core.svg")
          %h5 Core
          %p.tss
            The Jellyfish Core is a system that IT admins can
            setup to offer a service catalog, collect specific
            information about an item when ordering, and then
            take that data transform it to JSON and POST it to
            a URL. Jellyfish Core consists of node-js, UX/UI,
            front-end and a Ruby on Rails back-end accessible
            via a REST API.
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-modules.svg")
          %h5 Modules
          %p.tss
            A module would be considered an add-on or plug-in
            to the Jellyfish core.  It allows the creation of
            new data points to be collected, for new data to be
            pulled from an external systems API, and/or that
            data to be processed in a specific way.
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-mobile.svg")
          %h5 Mobile App
          %p.tss
            The jellyfish app mirrors Jellyfish functionality
            for mobile devices.  The app interfaces with
            Jellyfish core via the REST API providing basic
            functionality such as catalog and project status.
      .g-b.g-b--m--1of4.mbm
        .cell.cell--s
          .icon= image_tag("icon-blueprint.svg")
          %h5 Blueprint
          %p.tss
            A Jellyfish Blueprint is a packaged solution that
            formulates how to take the core jellyfish product,
            combine with other tools, install, configure and
            use for a specific problem or use case such as
            automated PaaS or data analytics.

    .cell.mbl#how-to-engage
      .jellyfish-header.jellyfish--engage
        = image_tag("jellyfish-engage.jpg")
        %h3 How to Engage
      %form{action: '#'}
        .g.mbs
          .g-b.g-b--m--1of3.input
            .cell.cell--s
              %input.input-text#name{type: 'text', name: 'name', required: 'required'}
              %label.input-label{for: 'name'} Full Name
          .g-b.g-b--m--1of3.input
            .cell.cell--s
              %input.input-text#email{type: 'text', name: 'email', required: 'required'}
              %label.input-label{for: 'email'} Email
          .g-b.g-b--m--1of3.input
            .cell.cell--s
              %input.input-text#organization{type: 'text', name: 'Organization', required: 'required'}
              %label.input-label{for: 'organization'} Organization
        .cell.cell--s
          %input.btn{type: 'submit', value: 'Make Request'}

    %h3 Partners
    .cell.cell--s
      %p.tss
        Project Jellyfish would not exist without the support
        of our growing numbers of individual and
        corporate&nbsp;contributors.
    %ul.logo.logo--list
      %li= image_tag("/assets/images/logo-aws.svg")
      %li= image_tag("/assets/images/logo-azure.svg")
      %li= image_tag("/assets/images/logo-redhat.svg")
    = link_to 'Learn more about how your company can help.', '#'

  = partial "shared/footer"
